<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flipp.example.app">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".FlyerKitApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".FlyerListingActivity"
        android:label="Flyer Listing" />
    <activity android:name=".FlyerItemActivity"
        android:label="Item Details"/>
    <activity android:name=".IframeActivity"
        android:label="Iframe Details"/>
    <activity android:name=".VideoActivity"
        android:label="Video Details"/>
    <activity android:name=".CouponActivity"
        android:label="Coupon Details"/>
    <activity android:name=".StoreListingActivity"
        android:label="Store List"/>
    <activity android:name=".PostalCodeActivity"
        android:label="FlyerKit/SKit Sample App"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".StorefrontActivity"
        android:configChanges="orientation|screenSize">
    </activity>
  </application>

</manifest>